# Ignore everything
*
.bash_history

# But not these files...
!*/
!*.py
!.gitignore
!*.pl
!*.sh
!*.ini
!*.rst
!*.html
!/data/human/snoRNAs/Supplementary_Dataset_S1.csv
!/data/human/snoRNAs/Supplementary_Dataset_S1_addnonCanonicalFunc.csv
!/data/human/snoRNAs/Supplementary_Dataset_S5.gff
